@charset "utf-8";

.header{
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 15px 0px 15px 0px;
}

.header-inner  {
  display: flex;
  justify-content: space-between;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.btn--blue{
  color: #ffffff;
  background-color: #6ba7ed;
}

.btn{
  font-size: 12px;
  padding: 12px 14px;
  text-align: center;
}

.btn--blue:hover {
  color: #333;
  transition: 0.3s;
}

.humberger {
  display: none;
}

main {
  padding-top: 78px;
}

.keyvisual {
  text-align: center;
  background-image: url("../img/keyvisual/keyvisual.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 400px;
  padding-bottom: 400px;
}

.title {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7ed;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 30px;
}

.work {
  padding-top: 50px;
  background: #e3f2fd;
  width: 100%;
}

.work_contents {
  display: flex;
  justify-content: center;
}

.work_contents > div {
  text-align: center;
}

.img-inner {
  width: 40%;
}

.text_home-inner {
  width: 60%;
}

.work img {
  width: 250px;
}

.text_home .text_work {
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 20px;
}

.text_home .description {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  padding-top: 35px;
}

.skills {
  padding-top: 50px;
  padding-bottom: 70px;
}

.text_skills {
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
}

.skills_contents {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.skills_contents li  {
  margin-right: 100px;
  margin-top: 100px;
}

.skills_contents li img {
  width: 300px;
  height: 300px;
  opacity: 0.7;
  transition: .7s;
}

.skills_contents li:nth-child(-n+3) {
  margin-top: 0px;
}

.skills_contents li:nth-child(3n) {
  margin-right: 0px;
}

.skills_contents li img:hover {
  opacity:1.0;
}

.plan{
  background: #d0dfea;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0px 50px 0px;
}

.text_plan {
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
}

.table--area {
  padding-top: 50px;
}

.cell--table {
  table-layout: fixed;
  width: 100%;
}

.cell--table th {
  font-size: 16px;
  line-height: 26px;
}

.cell--table thead th {
  background-color: #6ba7eb;
}

.cell--table th, .cell--table td {
  border-left: 2px solid #fff;
  padding: 10px;
}

.cell--table td {
  text-align: center;
}

.cell--table tr{
  background: #f9f9f9;
}

.cell--table tr:nth-child(even){
  background: #e0efff;
}

.sns {
  width: 100%;
  background: #e3f2fd;
  padding: 200px 0px 200px 0px;
}

.sns_list {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.sns_icon a {
  color: #8c8c8c; 
  overflow: hidden; 
  font-size: 40px; 
  width: 185px;
  text-decoration:none;
}

.sns_icon {
  transition: 0.5s;
}

.sns_icon:hover {
  background: #fff;
}

.sns_list > .sns_icon {
  padding: 25px 0px 25px 0px;
}

.footer {
  background: #cfd8dc;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}

.footer-inner {
  display: flex;
  justify-content: right;
}

.copyright {
  font-size: 10px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .keyvisual {
    padding-top: 250px;
    padding-bottom: 250px;
  }

  .work {
    padding: 50px 0px 50px 0px;
  }

  .work_contents {
    display: block;
  }

  .description br {
    display: none;
  }

  .img-inner {
    width: 100%;
  }
  
  .text_home-inner {
    width: 100%;
  }

  .skills_contents {
    display: block;
  }

  .skills_contents li  {
    margin-right: 0px;
    margin-top: 0px;
  }

  .skills_contents li:nth-child(3n+4) {
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .header nav{
    display: none;
  }

  .humberger {
    position: relative;
    height: 46px;
    width: 46px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #cfd8dc;
    border-radius: 4px;
  }

  .humberger div {
    position: absolute;
    left: 7px;
    height: 2px;
    width: 28px;
    background-color: #cfd8dc;
    border: 2px solid #cfd8dc;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }

  .humberger div:nth-of-type(1) {
    bottom: 30px;
  }

  .humberger div:nth-of-type(2) {
    bottom: 20px;
  }

  .humberger div:nth-of-type(3) {
    bottom: 10px;
  }

  .keyvisual {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .title {
    font-size: 40px;
  }
  
  .subtitle {
    font-size: 30px;
  }

  .cell--table th {
    font-size: 14px;
    line-height: 22px;
  }

  .cell--table td {
    font-size: 12px;
  }

  .sns_list {
    display: block;
  }

  .sns {
    padding: 50px 0px 50px 0px;
  }

  .sns_icon a {
    width: 100%;
  }

  .sns_list > .sns_icon {
    padding: 50px 15px 50px 15px;
  }
}